@model IEnumerable<Products>

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/css/styles.css" />
    <title>@ViewData["Title"]</title>
</head>
<body class="catalog-body">

    <div class="container">
        <h2>Каталог виниловых пластинок</h2>
        <div class="row">
            @foreach (var product in Model)
            {
                <div class="col-md-4">
                    <div class="card">
                        <img src="@Url.Content(product.Path_Image)" alt="@product.Name_Album" />
                        <h5>@product.Name_Album</h5>
                        <p>Цена: @product.Price.ToString("C")</p>
                        <a href="/Home/AddToCart?ID=@product.ID" class="btn btn-primary" style="background-color:lightsalmon; border-color:lightsalmon;">В корзину</a>
                    </div>
                </div>
            }
        </div>
    </div>
</body>
</html>
